<% include ../header %>
<header>
	<h2>Ntalk - Editar contact</h2>
</header>
<section>
	<form action="/contact/<%- contact._id %>?_method=put"
		method="post" onload="test()">
		<label>Nome:</label>
		<input type="text" name="contact[name]" value="<%- contact.name %>">
		<label>E-mail:</label>
		<input type="text" name="contact[email]" value="<%- contact.email %>">
		<button type="submit">Atualizar</button>
	</form>
</section>

<script>
	console.log("test");
	var name = "<%- contact.name %>";
	var email = "<%- contact.email %>";
	console.log("Nome: " + name + " email: " + email);
</script>


<% include ../exit %>
<% include ../footer %>o