<% include ../header %>
<header>
    <h2>Gerenciador de contas</h2>
</header>
<h4 id = "user">
</h4>

<section>
    <form action="/create_group" method="get">
        <button type="submit">Criar Grupo</button>
    </form>
     <form action="/show_contact" method="get">
        <button type="submit">Adicionar Contato</button>
    </form>

    <br />
    <br />
    <hr>
	
    <table>
        <thead>
            <tr>
                <th>Nome do grupo</th>
                <th>Descrição</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
        <% groups.forEach(function(group) { %>
        <tr>
            <td><%-	group.name %></td>
            <td><%-	group.description %></td>
            <td><a href="/edit_group/<%- group._id %>">Edit</a></td>
            <td><a href="/add_group_member/<%- group._id %>">Adicionar membro</a></td>

        </tr>
        <% }) %>
        </tbody>
    </table>

    <hr>

    <br />
    <br />

    <% if (contacts.length != 0) { %>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
        <% contacts.forEach(function(contact) { %>
        <tr>
            <td><%-	contact.name %></td>
            <td><%-	contact.email %></td>
        </tr>
        <% }) %>
        </tbody>
    </table>
    <% } else { %>
		<h4>Nenhum contato</h4>
    <% } %>
</section>
<script>
$(function() {
        start();    
        });
function start(){
    var user = document.getElementById("user");
    user.textContent = "Bem vindo: " + "<%- user.name %>" + " - " + "<%- user.email %>";
}
</script>



<% include ../exit %>
<% include ../footer %>
