<% include ../header %>

<!-- Page Content -->
<div class="container">
<div class="row">
<div class="col-lg-12">
<h1>Gerenciador de contas</h1>
</div>
</div>
<hr>
<h4 id = "user">
</h4>

<section>
	<br>
	
    <form action="/create_group" method="get">
        <button type="submit" class="btn btn-sm btn-success">Criar Grupo</button>
    </form>
    <br>
     <form action="/show_contact" method="get">
        <button type="submit" class="btn btn-sm btn-success">Adicionar Contato</button>
    </form>

    <br />
    <hr>
	
    <table class="table table-hover">
    	  <caption><h3>Grupos</h3></caption>
        <thead>
            <tr>
                <th>Nome do grupo</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
        <% groups.forEach(function(group) { %>
        <tr>
            <td><%-	group.name %></td>
            <td><%-	group.description %></td>
            <td><a href="/view_group/<%- group._id %>">Visualizar</a></td>
            <td><a href="/edit_group/<%- group._id %>">Editar</a></td>
            <td><a href="/add_group_member/<%- group._id %>">Adicionar membro</a></td>

        </tr>
        <% }) %>
        </tbody>
    </table>

    <hr>


    <% if (contacts.length != 0) { %>
    <table class="table table-hover">
        <caption> <h3>Contatos</h3></caption>
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
        <% contacts.forEach(function(contact) { %>
        <tr>
            <td><%-	contact.name %></td>
            <td><%-	contact.email %></td>
        </tr>
        <% }) %>
        </tbody>
    </table>
    <% } else { %>
		<h4>Nenhum contato</h4>
    <% } %>
</section>
<script>
$(function() {
        start();    
        });
function start(){
    var user = document.getElementById("user");
    user.textContent = "Bem vindo, " + "<%- user.name %>" + " - " + "<%- user.email %>!";
}
</script>



<% include ../exit %>
<% include ../footer %>
